body{
    background-color: white;

}
.contenedor{
    border: 3px solid #f76707;
    border-radius: 5px;
    width: 450px;
    
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas: "head head head" 
                            "body cont3 cont4"
                            "body cont5 cont6";
}
.cont1,.cont2,.cont3,.cont4,.cont5,.cont6{
    border:3px solid  #ffa94d;
    background-color: #ffd8a8;
    border-radius: 5px;
    color: #d9480f ;
    padding: 10px;
    text-align: center;
}
.cont1{
    grid-area: head;
}
.cont2{
    grid-area: body;
}
.cont3{
    grid-area: cont3;
}
.cont4{
    grid-area: cont4;
}
.cont5{
    grid-area: cont5;
}
.cont6{
    grid-area: cont6;
}